<header>
    <nav>
        {{#if logged_in}}
        <a class="btn" href="/profile">profile</a> |
        <button class="btn" id="logoutBtn">logout</button>
        {{else}}
        <a class="btn" href="/login" id="logInBtn">login</a>
        {{/if}}
    </nav>
</header>

<h1> New post for {{username}}</h1>

<section id="newBlogArea">
    <form id="newBlogForm" class="new-blog-form">
        <section id="newBlogContainer">

            <div class="newBlogTitle">
                <label class="labels" for="newTitle">Title: </label>
                <input class="newInputs" type="text" id="blogTitle" name="newTItle" />
            </div>
            <div class="newBlog">
                <label class="labels" id='blogBodyLable' for="newBlogBody">Body: </label>
                <textarea class="newInputs" id="blog-body" name="newBlogBody" rows="10" cols="25"></textarea>
            </div>
            <div class="newBlog">
                <button class="btn" type="submit" id="publishBtn">Publish Blog</button>
            </div>

        </section>
    </form>
</section>

<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>