<header>
    <nav>
        {{#if logged_in}}
        <a class="btn" href="/profile">profile</a> |
        <button class="btn" id="logoutBtn">logout</button>
        {{else}}
        <a class="btn" href="/login" id="logInBtn">login</a>
        {{/if}}
    </nav>
</header>

<h1> New post for {{username}}</h1>

<section id="newBlogArea">
    <form id="newBlogForm" class="new-blog-form">
        <div class="newBlog">
            <label for="newTitle">Title: </label>
            <input type="text" id="blogTitle" name="newTItle" />
        </div>
        <div class="newBlog">
            <label for="newBlogBody">Body: </label>
            <textarea id="blog-body" name="newBlogBody" rows="10" cols="25"></textarea>
        </div>
        <div class="newBlog">
            <button type="submit" id="publishBtn">Publish Blog</button>
        </div>
    </form>
</section>

<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>