<div>
    <h1> Welcome to Tech-Blog!</h1>
    <h2>Please log-in</h2>
    <form>
        <label for="email-login">Enter your Email:</label><br>
        <input type='text' id="email-login" name="email-login"><br>
        <label for="password-login">Enter your Password:</label><br>
        <input type='password' id="password-login" name="password-login"><br>
        <button type="submit">Login!</button>
    </form>
    <h2> or Sign up !</h2>

</div>